* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: "Open Sans";
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="text"], input[type="search"], input[type="email"] {
    padding: 17px 17px 17px 19px;
    border: none;
    background-color: #f4f7f6;
    outline: none;
}

@media (max-width: 640px) {
    .page-block {
        max-width: 610px;
        padding-left: 15px;
        padding-right: 15px;
    }   
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} 

.header {
    position: relative;
    padding-top: 8.61%;
    padding-bottom: 60.83%;
    background-image: url("../images/banner-mobile.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }

.menu-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.menu-button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.menu-button:before {
    top: 0;
}

.menu-button:before, .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu-button:after {
    bottom: 0;
}

.site-info {
    margin-top: 52.12%;
}

.header-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: block;
    width: 81.5%;
}

.menu {
    display: none;
}

.title {
    margin-top: 13.33%;
    font-size: 1.86rem;
    text-align: center;
    line-height: 2.57rem;
    color: #ffffff;
    text-transform: uppercase;
}

.trends {
    padding-top: 12.22%;
}

.title-block {
    font-size: 1.15rem;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
}

.title-block::after {
    content: "";
    display: block;
    width: 67px;
    height: 4px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e1d9bd;
}

.list-trends {
    margin-top: 24px;
}

.trend {
    position: relative;
    width:calc(100% - 30px);
    margin-top: 1px;
    padding-top: 24.72%;
    padding-bottom: 4.72%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.trend:first-child {
    margin-top: 0;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

@media (max-width: 640px) and (orientation: landscape) {
    .list-trends {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .trend {
        width:calc(50% - 0.5px);
        box-sizing: border-box;
    }

    .trend:nth-child(2n+2) {
        margin-left: 1px;
    }
    .trend:first-child {
        margin-top: 1px;
    }
}

.garden-trend {
    background-image: url("../images/garden-trend.jpg");
}

.cheese-trend {
    background-image: url("../images/cheese-trend.jpg");
}

.camping-trend {
    background-image: url("../images/camping-trend.jpg");
}

.lemon-trend {
    background-image: url("../images/lemon-trend.jpg");
}

.trend-info {
    padding-top: 10.18%;
    padding-left: 6.17%;
    padding-bottom: 9.26%;
    border: 3px solid #76673c;
}

.tags {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: bold;
    color: #b59f5b;
    list-style-type: none;
    text-transform: uppercase;
}

.tags li {
    margin-left: 20px;
}

.tags li:first-child {
    margin-left: 0;
}

.trend-name {
    margin-top: 16px;
    font-size: 1.14rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 20px;
    text-transform: uppercase;
}

.main {
    padding-top: 11.67%;
}

.post {
    margin-top: 10.3%;
    padding-bottom: 28px;
    border-bottom: 3px solid #eeeeee;
}

.post:first-child {
    margin-top: 0;
}

.post-img {
    width: 100%;
}

.post-tags {
    margin-top: 16px;
}

.post-title {
    margin-top: 15px;
    font-size: 1.15rem;
    font-weight: bold;
    color: #0f0d0e;
    line-height: 20px;
    text-transform: uppercase;
}

.post-info {
    display: flex;
    margin-top: 25px;
    font-size: 0.86rem;
}

.post-time {
    color: #888888;
}

.post-autor {
    margin-left: 14px;
    font-weight: bold;
    color: #000000;
}

.post-preview {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 20px;
    color: #0f0d0e;
}

.aside-new-post {
    padding-top: 13.33%;
}

.new-post-list {
    margin-top: 29px;
}

.new-post {
    display: flex;
    flex-direction: row;
    margin-top: 21px;
}

.new-post:first-child {
    margin-top: 0;
}

.new-post-img {
    width: 70px;
}

.new-post-img img {
    width: 70px;
    height: 70px;
}

.new-post-info {
    margin-left: 7.69%;
}

.new-post-time {
    color: #a9a9a9;
    font-size: 0.86rem;
}

.new-post-title {
    margin-top: 3.84%;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.search-form {
    display: flex;
    flex-direction: row;
    margin-top: 18.18%;
}

.search-input {
    width: calc(100% - 50px);
  }

  .search-btn {
    width: 50px;
    height: 50px;
    background-image: url("../images/search.svg");
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    border: none;
  }

  .notify {
      margin-top: 13.64%;
  }

  .email-form {
      display: flex;
      flex-direction: column;
      margin-top: 23px;
  }

  .email-input {
    width: 100%;
    box-sizing: border-box;
  }

  .email-btn{
      width: 100%;
      height: 50px;
      margin-top: 18px;
      background-color: #b59f5b;
      font-weight: bold;
      font-size: 1rem;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      border: none;
  }

  .theme-tags {
      margin-top: 13.33%;
  }

  .theme-tag-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 18px;
  }

  .theme-tag {
      padding: 7px 14px;
      margin-top: 6px;
      border: 3px solid #eeeeee;
      list-style-type: none;
      font-size: 0.86rem;
      font-weight: bold;
      text-transform: uppercase;
  }

  .themes {
      margin-top: 13.33%;
  }

  .themes-list {
    margin-top: 26px;
  }

  .theme {
    margin-top: 12px;
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 12px;
  }
  
  .theme:first-child {
    margin-top: 0;
  }

  .theme-count {
    font-size: 0.86rem;
    color: #b59f5b;
    vertical-align: super;
  }

  .aside-goods {
    padding-top: 13.33%;
  }

  .product {
    position: relative;
    margin-top: 283px;
  }

  .product:first-of-type {
    margin-top: 280px;
  }

  .product-preview {
    position: absolute;
    top: -254px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .product-info {
    position: relative;
    padding: 54px 22px 26px 18px;
    border: 3px solid #d3c59d;
    z-index: 1;
  }

  .product-title {
    font-size: 1.21rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
  }

  .product-text {
    margin-top: 8px;
    font-size: 1.07rem;
    color: #0f0d0e;
  }

  .product-link {
    text-decoration: underline;
    color: #bba76b;
  }

  .product-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
  }

  .product-price {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #0f0d0e;
    text-decoration: line-through;
  }

  .product-sale {
    display: block;
    font-size: 1.43rem;
    font-weight: bold;
    color: #0f0d0e;
  }

  .product-click {
    padding: 20px 28px 19px 30px;
    background-color: #b59f5b;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }

  .footer {
    margin-top: 13.33%;
    padding-bottom: 50px;
  }

  .social-address {
      width: 100%;
  }
  
  .social-link-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f4f7f6;
    padding: 33px 0;  
  }
  
  .social-link-item {
    list-style-type: none;
  }
  
  .social-link-item:nth-child(1n+2) {
    margin-left: 25px;
  }
  
  .social-link {
    width: 23px;
    height: 23px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .social-twitter {
    background-image: url("../images/004-twitter.svg");
  }
  
  .social-pinterest {
    background-image: url("../images/001-pinterest.svg");
  }
  
  .social-facebook {
    background-image: url("../images/002-facebook-logo.svg");
  }
  
  .social-instagram {
    background-image: url("../images/005-instagram.svg");
  }
  
  .social-tumblr {
    background-image: url("../images/003-tumblr.svg");
  }
  
  .page-content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copyright {
    margin-top: 52px;
    font-size: 0.86rem;
    font-weight: bold;
    color: #999999;
    text-decoration: none;
  }

  @media (min-width: 641px) {

    html {
        font-size: 15px;
    }

    .two-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 6.51%;
    }

    .main, .aside-new-post {
        padding-top: 0;
        box-sizing: border-box;
    }

    .new-post-img {
        display: flex;
        align-items: center;
    }

    .theme-tag-list {
        justify-content: stretch;
    }

    .theme-tag {
        margin-left: 5px;
    }

    .product-info {
        height: 100%;
        box-sizing: border-box;
    }
  }