@media (min-width: 641px) and (max-width: 1200px) {

    .page-block {
        max-width: 1130px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .header {
        padding-top: 6.16%;
        padding-bottom: 17.91%;
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .menu-button-wrapper {
        position: absolute;
        right: 35px;
    }

    .site-info {
        align-items: flex-start;
    }

    .logo {
        width: 22.63%;
    }

    .title {
        font-size: 2.67rem;
        line-height: 55px;
    }

    .trends {
        padding-top: 6.77%;
    }

    .title-block {
        font-size: 1.2rem;
    }

    .list-trends {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2.47%;
    }

    .trend {
        width: 49.74%;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        padding: 12.5% 20px 1.95% 20px;
    }

    .trend:nth-child(n+3) {
        margin-top: 3px;
    }

    .trend-info {
        padding: 10.39% 0 10.09% 8.9%;
    }

    .trend-name {
        font-size: 1.13rem;
    }

    .two-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 6.51%;
    }

    .main {
        width: 55.6%;
        padding-right: 0;
    }

    .aside-new-post {
        width: 39.97%;
        padding-left: 0;
    }

    .post {
        padding-bottom: 23px;
        margin-top: 10.71%;
    }

    .post:last-child {
        border-bottom: none;
    }

    .post-title {
        font-size: 1.13rem;
    }

    .post-info {
        margin-top: 39px;
        font-size: 0.8rem;
    }

    .post-preview {
        margin-top: 40px;
    }

    .new-post-info {
        margin-left: 20px;
    }

    .new-post-time {
        font-size: 0.8rem;
    }

    .new-post-title {
        font-size: 0.93rem;
    }

    .search-form, .notify, .theme-tags, .themes {
        margin-top: 22.06%;
    }

    .theme-tag-list {
        margin-top: 24px;
    }

    .theme-tag {
        font-size: 0.8rem;
    }

    .theme {
        font-size: 0.93rem;
    }

    .theme-count {
        font-size: 0.6rem;
    }

    .aside-goods {
        padding-top: 6.38%;
    }

    .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        width: 48.28%;
        margin-top: 255px;
    }

    .product:first-of-type {
        margin-top: 255px;
    }

    .product-preview {
        top: -195px;
    }

    .product-title {
        font-size: 1.13rem;
    }

    .product-text {
        font-size: 1rem;
    }

    .product-price {
        font-size: 0.93rem;
    }

    .product-sale {
        font-size: 1.33rem;
    }

    .product-click {
        font-size: 0.93rem;
    }

    .footer  {
        margin-top: 6.51%;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend {
        width:calc(25% - 3px);
    }

    .trend:nth-child(n+3) {
        margin-top: 0;
    }
}